* {
  margin: 0;
  padding: 0;
}

*,
*::before, 
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  @include responsive(tab-land) {
    font-size: 56.25%;
  }
  @include responsive(tab-port) {
    font-size: 50%;
  }
  @include responsive(phone) {
    font-size: 50%;
  }
}


body {
  font-family: 'lato','Open Sans', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
}

