.main {
  background-color: $color-grey-light-2;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: $color-grey-dark-2;
  // height: 65rem;
  width: 57rem;
  border-radius: 5rem;
  box-shadow: $shadow-dark;
  padding: 5rem;
  // overflow: hidden;
}