.expense-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #4b4b4b;
  transition: transform .2s;
  flex-wrap: wrap;
  &:hover {
    transform: scale(1.1);
  }

  & h2 {
    // color: #3a3a3a;
    font-size: 1.6rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
    @include responsive (phone) {
      font-size: 1.25rem; 
    }
  }


  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex: 0 0 50%;
    border-radius: .5rem;
    padding: 3rem 1rem;
    background-color: $color-angular-blue-light;
    @include responsive (phone) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  }

  &__price {

    font-weight: bold;
    color: white;
    background-color: $color-yellow;
    border: 2px solid white;
    width: 10rem;
    text-align: center;
    padding: 3rem 1rem;
    border-radius: 6px;
    @include responsive (phone) {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }


  

}

