.expense-form {
  display: flex;
  background-color: $color-black-settle;
  flex: 1;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: $shadow-dark;
  &__controls {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  &__control {
    margin-top: 1rem;
    display: flex;
    flex: 0 0 45%;
    flex-direction: column;
    & input {
      padding: 1rem;
      font-family: inherit;
    }
    & input[type="date"] {
      padding: 0.8rem;
      font-family: inherit;
    }
    & label {
      display: none;
    }
  }
  &__action {
    display: flex;
    flex: 0 0 45%;
    // padding: .7rem;
    margin-top: 1rem;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 2px;
    }
    & button {
      width: 100%;
      padding: 0.6rem 1.4rem;
    }
    &--menu {
      margin-top: 0;
      // padding: 2rem 8rem;

      flex: 0 0 100%;
      align-items: center;
    }
  }
}

.btn--expense--menu {
  height: 5rem;
}
.btn--expense-form--cancel {
  background-color: $color-angular-light;
  &:hover {
    background-color: $color-angular-darker;
  }
}
